.main{width: 120mm;height: 70mm;background-color: rgb(255, 255, 255);min-width: 119.9mm;max-width: 120.1mm;min-height: 69.9mm;max-height: 70.1mm;border:0.5mm solid black;border-radius: 2mm;padding: 2mm;}


.main2{width: 116mm;height: 66mm;background-color: rgb(255, 255, 255);min-width: 115.9mm;max-width: 116.1mm;min-height: 65.9mm;max-height: 66.1mm;border:1.5mm solid black;border-radius: 5mm;padding: 2mm;}